BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
ColumnLimit: 100
IndentAccessModifiers: false
AccessModifierOffset: -4
PackConstructorInitializers: Never
BreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left